<ion-header>
  <ion-toolbar>
    <ion-title>
      Histórico de Transações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="transactionHistory.length > 0">
    <ion-item *ngFor="let transaction of transactionHistory; let i = index" [@fadeInOut]>
      <ion-label class="transaction-content">
        <div class="transaction-details">
          <p>{{ transaction.inputValue }} {{ transaction.fromCurrency }} para {{ transaction.toCurrency }} = {{ transaction.formattedOutputValue }}</p>
        </div>
        <div class="transaction-timestamp">
          <small>{{ transaction.timestamp }}</small>
        </div>
      </ion-label>

      <ion-icon name="close-circle" color="danger" (click)="deleteTransaction(i)" class="delete-icon"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="transactionHistory.length === 0">
    <ion-label>
      <h2>Sem transações salvas</h2>
    </ion-label>
  </ion-item>

  <ion-button *ngIf="transactionHistory.length > 0" expand="full" color="danger" (click)="clearAllTransactions()">Limpar Histórico</ion-button>
</ion-content>
