ion-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffff;
  margin: 12px;
  position: absolute;
  top: 24px;
  bottom: 24px;
  width: auto;
  white-space: nowrap;
}

ion-toolbar,
ion-header {
  --background: transparent;
  box-shadow: none;
}
 
ion-item {
  --background: transparent;
  --border-width: 1px;
  --border-radius: 12px;
  margin-left: 8px;
}

ion-input {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  align-items: start;
}

ion-select {
  width: 100px;
}

ion-avatar img {
  width: 24px;
  height: 24px;
  object-fit: cover;
} 

.swap-icon {
  font-size: 24px;
  color: #666;
  margin: 16px;
  cursor: pointer;
}

ion-button {
  --border-radius: 8px;
  color: white;
}

.button {
  display: flex;
  align-content: end;
  margin-inline-end: 8px;
  justify-content: flex-end;
}

.converter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  
    .input-section,
    .output-section {
      flex: 1;
    }


  @media (max-width: 600px) {
    ion-title {
      font-size: 18px;
      display: flex;
      align-items: center;
    }
  
    ion-input {
      height: 45px;
    }
  
    ion-button {
      height: 45px;
    }

    .converter-container {
      display: flex;
      align-items: center;
    }
  }

}
  