<ion-header>
  <ion-toolbar>
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="converter-container">
    <div class="input-section">
      <ion-item>
        <ion-input [(ngModel)]="inputValue" (ionInput)="onInputChange($event)" placeholder="Digite o valor"></ion-input>
        <ion-select [(ngModel)]="fromCurrency" (ionChange)="onFromCurrencyChange()">
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="CNY">CNY</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="JPY">JPY</ion-select-option>
          <ion-select-option value="AUD">AUD</ion-select-option>
          <ion-select-option value="CAD">CAD</ion-select-option>
          <ion-select-option value="INR">INR</ion-select-option>
          <ion-select-option value="BRL">BRL</ion-select-option>
          <ion-select-option value="SAR">SAR</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-icon name="swap-horizontal-outline" class="swap-icon"></ion-icon>

    <div class="output-section">
      <ion-item>
        <ion-input [value]="formattedOutputValue" readonly></ion-input>
        <ion-select [(ngModel)]="toCurrency" (ionChange)="onToCurrencyChange()">
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="CNY">CNY</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="JPY">JPY</ion-select-option>
          <ion-select-option value="AUD">AUD</ion-select-option>
          <ion-select-option value="CAD">CAD</ion-select-option>
          <ion-select-option value="INR">INR</ion-select-option>
          <ion-select-option value="BRL">BRL</ion-select-option>
          <ion-select-option value="SAR">SAR</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</ion-content>
