<ion-header>
  <ion-toolbar>
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="converter-container">
    <div class="input-section">
      <ion-item>
        <ion-input placeholder="$ 1.000"></ion-input>
        <ion-select>
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="BRL">BRL</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-icon name="swap-horizontal-outline" class="swap-icon"></ion-icon>

    <div class="output-section">
      <ion-item>
        <ion-input placeholder="R$ 5.148,20" readonly></ion-input>
        <ion-select>
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
          <ion-select-option value="BRL">BRL</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</ion-content>
